.left,.right,.center{
    width: 60%;
    clear: both;
}
.right{
    float: right;
    text-align: right;
    
}
.center{
    text-align: center;
    margin: auto;
}
.mid-section{
   
   height: 500px;
}
.first,.second{
    width: 100%;
}
.first{
    height: 90%;
    overflow: auto;
}
.second{
    height: 10%;
}